@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 1248px; 
  height: 702px;
  font-family: "Montserrat";
  display: grid;
  grid-template-columns: 15% 85%;
}

.sidebar-container {
  background-color: #F2F2F2;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: .8em 2em;
  background-color: #FAFAFA;
  cursor: pointer;
}

ul li:hover {
  background-color: #DEFFED;
}

ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: .9em;
  color: #666666;
}

.title {
  font-weight: 700;
  font-size: 1.6em;
  color: #666666;
  background-color: #F2F2F2;
  padding: .7em .7em;
  margin: 0 0 3em 0;
}

.title:hover {
  background-color: #F2F2F2;
}

#home {
  background-color: #DEFFED;
}

#home a{
  font-weight: 500;
  color: #2BAE66;
}

main {
  position: relative;
}

.main-container {
  position: absolute;
  top: 12.5%;
  left: 10%;
  height: 75%;
  width: 80%;
  background-color: #F2F2F2;
  border-radius: 15px;
}

#welcome-title {
  margin: 1em 0 0 1em;
  font-weight: 500;
  font-size: 1.8em;
  color: #666666;
}

#welcome-title::before {
  content: "            ";
  position: absolute;
  top: 2.4em;
  height: 3.5px;
  width: 275px;
  background-color: #2BAE66;
}

#name-title {
  margin: .4em 0 0 3em;
  font-weight: 500;
  font-size: 2.4em;
  color: #666666;
}